<!DOCTYPE html>
<html>
   <head>
      <title>{{title}} </title>
      <link rel="stylesheet" href="static/css/index.css">
      <script src="static/js/homepage.js"></script>
   </head>
   <body>
      <h3>{{title}}</h3>
      <p>
         A simple web-based application that accepts files containing the configuration of the attributes that the archiver should archive and configures the relevant EDA components.<br>
         The configurator is able to add/remove/update the attribute configuration using CLI client or using a web browser.
      </p>
      <a href="" id="configurator_page">Configure attributes</a>
   </body>
</html>