body
{
    background-image: url('../skaonight.jpg') ;
    color: white;
    text-align:center;
}
h3
{
    text-decoration-line: underline;
    font-style: italic;
    font-size:30px;
}
p{
    font-family: "Times New Roman", Times, serif;
    font-size:20px;   
}
a{
    font-size:20px;
    color: #84FF11;
}